/* Place Your Custom Styles Here */
/*
  Additional
 */
.home-top-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row-without-padding {
    display: flex;
    flex-wrap: wrap;
}

.home-absolute-position {
    position: absolute; !important;
}

.home-relative-position {
    position: relative; !important;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.nav-padding {
    padding-right: 20px;
}

.image-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.home-background-transparent1 {
    background: none;
    display : flex;
    align-items : center;
}

.home-background1 {
    background-color: #EDD9CF;
    display : flex;
    align-items : center;
}

.home-background2 {
    background-color: #E39A8E;
}

.home-background-transparent2 {
    background: none;
}

.we-are-background {
    background-color: #ffffff;
}

.padding-custom-5 {
    padding: 5rem 0;
}

.padding-custom-3 {
    padding-top: 3rem ;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.component-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.component-padding-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.component-padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.component-padding-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.remove-padding {
    padding: 0 !important;
}

.remove-padding-side {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.about-us-background {
    background-color: #F1CBBE;
}

.information-background {
    background-color: #FAEDD9;
}

.map-background {
    background-color: #4D674A;
}

.rsvp-background {
    background-color: #BA5049;
}

input[type="text"]
{
    background: transparent;
    border: none;
}

.text-padding {
    padding-right: 40px;
    padding-left: 40px;
}

.hide-component {
    visibility: hidden;
}

.component-center-vertical {
    display: flex;
    align-items: center;
}

.radio {
    width: 20px;
    height: 20px;

    border: 2px solid white;
    border-radius: 100%;
    margin-right: 10px;

    background: transparent;
}

.button-send {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.hr-rsvp {
    height: 1px;
    overflow: visible;
    color: white;
    background-color:white;
}

.hr-more {
    height: 1px;
    overflow: visible;
    color: #373737;
}

.a {
    letter-spacing: -3px;
}

@font-face {
    font-family: 'Marcellus';
    unicode-range: U+0041-005A, U+0061-007A;
}

body {
    font-size: 18px;
    font-family: 'Marcellus','Gowun Batang';
}


* {
    font-family: inherit;
}