/* Place Your Custom Styles Here */
/*
  Additional
 */
.nav-padding {
    padding-right: 20px;
}

.image-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.home-background1 {
    background-color: #EDD9CF;
    display : flex;
    align-items : center;
}

.home-background2 {
    background-color: #E39A8E;
}

.we-are-background {
    background-color: #ffffff;
}

.padding-custom-5 {
    padding: 5rem 0;
}

.padding-custom-3 {
    padding-top: 3rem ;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.remove-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@font-face {
    font-family: 'Marcellus';
    unicode-range: U+0041-005A, U+0061-007A;
}

body {
    font-size: 18px;
    font-family: 'Marcellus','Gowun Batang';
}


* {
    font-family: inherit;
}