/* Place Your Custom Styles Here */
/*
  Additional
 */
.home-top-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.home-absolute-position {
    position: absolute; !important;
}

.home-relative-position {
    position: relative; !important;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.nav-padding {
    padding-right: 20px;
}

.image-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.home-background-transparent1 {
    background: none;
    display : flex;
    align-items : center;
}

.home-background1 {
    background-color: #EDD9CF;
    display : flex;
    align-items : center;
}

.home-background2 {
    background-color: #E39A8E;
}

.home-background-transparent2 {
    background: none;
}

.we-are-background {
    background-color: #ffffff;
}

.padding-custom-5 {
    padding: 5rem 0;
}

.padding-custom-3 {
    padding-top: 3rem ;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.component-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.remove-padding {
    padding: 0 !important;
}

.about-us-background {
    background-color: #F1CBBE;
}

.text-padding {
    padding-right: 40px;
    padding-left: 40px;
}

.a {
    letter-spacing: -3px;
}

@font-face {
    font-family: 'Marcellus';
    unicode-range: U+0041-005A, U+0061-007A;
}

body {
    font-size: 18px;
    font-family: 'Marcellus','Gowun Batang';
}


* {
    font-family: inherit;
}